<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-2">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.carCount
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                    <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-2">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.locationCount
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-secondary border-secondary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Marka Sayısı</span>
                    <h5 class="card-title mb-0 text-white">Toplam Marka</h5>
                </div>
                <div class="row d-flex align-items-center mb-2">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.brandCount
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-dark border-dark">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Kiralama Ücreti</span>
                    <h5 class="card-title mb-0 text-white">Ort. Günlük Kiralama</h5>
                </div>
                <div class="row d-flex align-items-center mb-2">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.avgPriceForDaily ₺
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>